<div style="text-align: right ; margin-right: 40px;">  
  
  
<div>  
    <table class="table table-responsive table-striped">  
  
        <tr>  
          <th>Book Id</th>  
          <th>Book Name</th>  
          <th>Author</th>  
          <th>Category</th>  
          <th>Actions</th>
          <th></th>
        </tr> 
        <ng-container *ngFor = "let item of ebooks">  
            <tr>  
              <td>{{item.bookid}}</td>  
              <td>{{item.bookName}}</td>  
              <td>{{item.bookAuthor}}</td>  
              <td>{{item.category}}</td> 
               <td>{{item.booktype}}</td> 
              
            </tr>  
        </ng-container>  
    
    
      </table>  
</div>  
</div>
  
<div *ngIf="haveData == 0 && dataRequest">  
    Don't have Data.  
</div>  

